.editForm {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h2 {
    font-size: 40px;
  }
  .formList {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 90%;
    .adminSearchForm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vh;
      width: 100%;
      input {
        height: 30px;
        padding: 10px;
        font-size: 24px;
      }
      button {
        text-decoration: none;
        border: solid rgba(55, 131, 55, 0.849) 5px;
        border-radius: 10px;
        background: rgba(46, 77, 46, 0.858);
        &:hover {
          cursor: pointer;
        }
        p {
          padding: 3px 7px 7px 7px;
          color: white;
          font-size: 20px;
          text-align: center;
        }
      }
    }
    .searchAndEdit {
      display: flex;
      height: 80%;
      margin-top: 5vh;
      gap: 5vw;
      justify-content: space-between;
      .searchSongList {
        display: flex;
        flex-direction: column;
        width: 40%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 5px;
          margin: auto;
          background-color: black;
        }
        &::-webkit-scrollbar-thumb {
          background-color: white;
        }
        .songList {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          padding-block: 1vh;
          border-block: solid white 1px;
          p {
            font-size: 20px;
          }
          button {
            display: flex;
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            border: none;
            background-color: transparent;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        gap: 5px;

        label {
          font-size: 25px;
          font-weight: 450;
        }
        input {
          height: 30px;
          padding: 10px;
          font-size: 24px;
        }
        button {
          margin-top: 20px;
          text-decoration: none;
          border: solid rgba(55, 131, 55, 0.849) 5px;
          border-radius: 10px;
          background: rgba(46, 77, 46, 0.858);
          &:hover {
            cursor: pointer;
          }
          p {
            padding: 3px 7px 7px 7px;
            color: white;
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
